{% load staticfiles %}
.time {
       display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;



         }
@font-face {
    font-family: ledger;
    src: url(/static/fonts/Ledger-Regular.ttf);
}

@font-face {
    font-family: roboto;
    src:url(/static/fonts/Roboto-Light.ttf);
}

.ledger {

    font-family:ledger;

}

.roboto {

   font-family: roboto;
}

.roboto-b {

    font-family:roboto;
    font-weight: bold;
}

th {

    font-family:roboto
}

td {
   font-family:roboto
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}